.row {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.paginate {
    width: 100%;
    vertical-align: middle;
    margin-left: 30%;
}

.paginate p {
    display: inline;
    box-sizing: border-box;
    padding: 5px;
}

.paginate button {
    padding: 5px;
}