.row {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.select {
    box-sizing: border-box;
    padding: 5px;
    background-color: #404040;
    color: white;
}

.select:hover {
    outline: none;
}

.select option {
    background-color: #404040;
    box-sizing: border-box;
    padding-top: 10px;
}

.select option:hover {
    background-color: red;
}